# Carpetas de compilación de Hugo
public/
resources/
.hugo_build.lock

# Archivos y carpetas temporales del sistema/editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Entornos virtuales de Python (por si usas venv para el script de raspado)
venv/
.venv/
env/
__pycache__/
*.pyc

# Logs de error
*.log
