{{ $destination := .Destination }}
{{ $isPDF := strings.HasSuffix (lower $destination) ".pdf" }}
{{ $isRemote := strings.HasPrefix (lower $destination) "http" }}

{{ if and $isPDF (not $isRemote) }}
{{/* Intentamos obtener el PDF de los recursos del bundle */}}
{{ $resource := .Page.Resources.GetMatch $destination }}

{{ if $resource }}
<a href="{{ $resource.RelPermalink }}" download{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{ else }}
<a href="{{ $destination | safeURL }}" download{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{ end }}
{{ else }}
{{/* Para cualquier otro enlace que no sea PDF */}}
<a href="{{ .Destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{ end }}